html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.outer {
  display: flex;

  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #3E2C98;
}

.inner {
  width: 23%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}

.inputField {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.joinBtn {
  color: #fff;
  background-color: #4F3DA9;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  border: none;
  padding: 20px;
}

.joinBtn:hover {
  background-color: #5F4EBA;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outer {
    height: 100vh;
  }

  .inner {
    width: 80%
  }
}

@media only screen and (max-width:767px){
  .outer {
    height: 100vh;
  }

  .inner {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .outer {
    height: 100vh;
  }

  .inner {
    width: 35%;
    font-size: 0.9em;
  }

  .heading {
    color: white;
    font-size: 2em;

    border-bottom: 2px solid white;
  }

  
  .inputField {
    border-radius: 0;
    padding: 22px 20px;
    margin-bottom: 10px;
  }
}
